In [70]:
import pandas as pd
df =pd.read_csv('datasets/lego_sets.csv')
df.head()

theme = pd.read_csv('datasets/parent_themes.csv')
theme.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [79]:
df.head()
# print(df.shape)

# df = df.dropna(subset = ['set_num'])
df = df[df['set_num'].notna()]
print(df.shape)
df.head()

(11833, 6)

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

### A natural join on df and theme, df.parent_theme & theme.name

In [80]:
merged =df.merge(theme,left_on='parent_theme',right_on='name')
merged = merged.drop(columns = ['name_y'])
merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False

In [81]:
licensed = merged[merged['is_licensed']]
licensed.head()

star_wars = licensed[licensed['parent_theme'] == 'Star Wars']
# star_wars.head(50)

In [82]:
the_force =int(star_wars.shape[0]*100/licensed.shape[0])
the_force

51

In [94]:
summed_df = licensed.groupby(['year','parent_theme']).sum().reset_index()
summed_df.sort_values(['is_licensed'],ascending = False,inplace = True)
summed_df.drop_duplicates(['year'],inplace = True)
summed_df.sort_values(['year'],ascending=True,inplace=True)
summed_df=summed_df[summed_df['parent_theme'] != 'Star Wars']
new_era=summed_df.iloc[0][0]

2017