In [54]:
import pandas as pd
df =pd.read_csv('datasets/lego_sets.csv')
df.head()

theme = pd.read_csv('datasets/parent_themes.csv')
theme.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [55]:
df.head()
# print(df.shape)

# df = df.dropna(subset = ['set_num'])
df = df[df['set_num'].notna()]
print(df.shape)
df.head()

(11833, 6)

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

### A natural join on df and theme, df.parent_theme & theme.name

In [56]:
merged =df.merge(theme,left_on='parent_theme',right_on='name')
merged = merged.drop(columns = ['name_y'])
merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False

In [57]:
licensed = merged[merged['is_licensed']]
licensed.head()

star_wars = licensed[licensed['parent_theme'] == 'Star Wars']
# star_wars.head(50)

In [58]:
the_force =int(star_wars.shape[0]*100/licensed.shape[0])
the_force

51

In [61]:
summed_df = licensed.groupby(['year','parent_theme']).sum().reset_index()
# print(summed_df)
# is_licensed will be used as a counter

summed_df.sort_values(['is_licensed'],ascending = False,inplace = True)
# print(summed_df)
summed_df.drop_duplicates(['year'],inplace = True) #only keeping one copy of year with the highest counter
summed_df.sort_values(['year'],ascending=True,inplace=True)
summed_df=summed_df[summed_df['parent_theme'] != 'Star Wars']
new_era=summed_df.iloc[0][0]
new_era

2017

In [66]:
clean_df = merged[~merged['set_num'].isnull()]
clean_df['count'] = 1
sets_per_year=clean_df.groupby('year').sum().reset_index()[['year','count']]
# sets_per_year.head()

for index,row in sets_per_year.iterrows():
  print(row['year'],row['count'])

1950 7
1953 4
1954 14
1955 28
1956 12
1957 21
1958 42
1959 4
1960 3
1961 17
1962 40
1963 18
1964 11
1965 10
1966 89
1967 21
1968 25
1969 69
1970 29
1971 45
1972 38
1973 68
1974 39
1975 31
1976 68
1977 92
1978 73
1979 82
1980 88
1981 79
1982 76
1983 57
1984 76
1985 139
1986 123
1987 209
1988 68
1989 114
1990 85
1991 106
1992 115
1993 111
1994 128
1995 128
1996 144
1997 194
1998 325
1999 300
2000 327
2001 339
2002 447
2003 415
2004 371
2005 330
2006 283
2007 319
2008 349
2009 403
2010 444
2011 502
2012 615
2013 593
2014 715
2015 670
2016 608
2017 438